@import '../abstracts/mixins';

.rtp-btn {
    padding: 5px;
    border: 0px;
    border-radius: 2px;
    color: $white;
    background-color: $purple-2;
    font-family: 'Proxima Nova Alt Regular';

    &.btn-primary { @include btn-fill($white, $primary); }
    &.btn-secondary { @include btn-fill($white, $secondary); }
    &.btn-success { @include btn-fill($white, $success); }
    &.btn-danger { @include btn-fill($white, $danger); }

    &.btn-outline {
        &-primary{ @include btn-outline($primary); }
        &-secondary{ @include btn-outline($secondary); }
        &-success{ @include btn-outline($success); }
        &-danger{ @include btn-outline($danger); }
    }

    &:disabled{ opacity: 0.5; }
}

.rtp-btn-block{ width: 100%; @extend .rtp-btn; }
