/* Fonts */
$normal-font: 'Proxima Nova Alt Light';

/* Colors */
$white:         #fff;
$primary:       #56446F;
$secondary:     #9AA9B9;
$success:       #21c59f;
$danger:        #F33959;
$purple-2:      #6186ff;
$yellow-2:      #f08f00;
$light-green:   #00DDCD;
$light-black:   #1F2532;
$dark-green:    #15B597;
$light-gray:    #EEF1F5;
$cr-rappi:      #FF2426;