@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';

.title{
    font-size: 25px;
    color: #6186ff;
}
hr{
    border: 1px solid #e6ebf1;
    width: 60px;
    margin: 7px 0 0 0;
}

.bg-box{
    width: 20px;
    height: 20px;
    padding: 2px;
}
.rtp-input{
    max-width: 114px;
}

.rtp-modal{
    display: none;
}